/* .App {
  text-align:left;


  text-justify:auto;
  padding-left: 10px;
}
button {

  background-color: #04AA6D;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
  padding: 12px 24px;
  margin-top: 4px;
  border-radius: 5px;
  word-spacing: 10px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover{
  background-color: #04AA6D;
  
}

input{
  width: auto;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-color: white;
  font-size: medium;
  display:inline-block;  
}


input[type=submit]{
  width: 100px;
  background-color:#61dafb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border:none;
  border-radius: 4px; 
  cursor:pointer;
  font-size:large;
  
} 



input[type=submit]:hover{
  background-color: green;
}


label{
  font-size:large;
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  padding:2px;

}
label span{
  display:block;
  margin-bottom: 10px;
  margin-top:10px;
}


div{
  border-radius: 5px;
  background-color: silver;

}
span{
  display:block;
}

.App-logo {
  height: 50vmin;
  pointer-events: none;
}
input{
  height:10px;
  
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #171922;
  min-height: 100vh;
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  font-size: large;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

::-webkit-input-placeholder{
  color: silver;
}
.ride-form input{
  background-color:white;
  height: 5px;
  font-size: large;
 
    
}
.ride-form button{
  background-color: #61dafb;
  font-size: small;
  border-radius: 10px;

}
.ride-form button:hover{
  background-color:deepskyblue

  
}
.search-form button{
  background-color: #61dafb;
  font-size: small;
  border-radius: 10px;
}
.search-form button:hover{
  background-color: deepskyblue;
}
.search-form input{
  background-color: white;
  height: 5px;
  font-size: large;
} */
.ride-section{
  background-color: #ddd;
  margin: 20px;
  padding: 20px ;
}
.product-detail img{
  width: 300px;
  height: auto;
  border-radius: 10px;
  justify-content: space-between;

  
  
}

.product-detail{
  display: around;
  background-color: #ddd;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;

}
.title{
  font-weight: bold;
  text-transform: capitalize;
}
