.product-detail img{
  width: 300px;
  height: auto;
  border-radius: 10px;
  justify-content: space-between;

  
  
}



.product-detail{
  display: around;
  background-color: #ddd;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;

}
.title{
  font-weight: bold;
  text-transform: capitalize;
}
button{
  
}

